*,
*::before,
*::after {
  box-sizing: border-box;

}

body{
  /* background-color: black; */
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
}

h1 {
  font-family: 'Akzidenz-Grotesk Pro Bold Ext'; 
  font-size: 39.81px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.48) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0.48) 100%);
  display: inline-block;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 8px;
  margin-bottom: 8px;
}

small {
  color: white;
  font-size: 11.11px;
  letter-spacing: 0.15em;
  font-family: 'Akzidenz-Grotesk Pro Med';
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.24) 0%, rgba(255, 255, 255, 0.48) 50%, rgba(255, 255, 255, 0.24) 100%);
  /* display: inline-block; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  font-size: 16px;
  font-family: 'Akzidenz-Grotesk Pro Med';
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.32) 0%, rgba(255, 255, 255, 0.48) 50%, rgba(255, 255, 255, 0.32) 100%);
  display: inline-block;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0px;
  margin-bottom: 32px;
}

.mainBtn {
  color: white;
  font-size: 16px;
  font-family: 'Akzidenz-Grotesk Pro Med';
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.48) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0.48) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 16px 32px;
}

.button {
  display: inline-block;
  /* text-align: center; */
  padding: 16px 0px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  /* border: linear-gradient(90deg, rgba(255, 255, 255, 0.48) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0.48) 100%); */
  border: 1px solid rgba(255, 255, 255, 0.08);
  transition: 0.4s;
}

.button:hover {
  transform: scale(1.06);
  background: rgba(255, 255, 255, 0.15);
  border: 2px solid rgba(255, 255, 255, 0.1);
  transition: 0.25s;
}

img {
  pointer-events: none;
}

.center1 {
  margin: 18% 0%;

}

html {
  /* background: url("../Background_desktop.png") no-repeat center center; */
  background: #373434 url("../Background.gif") no-repeat center center;
  min-height: 100%;
  background-size: cover;
}

.icons { 
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  margin-bottom: 48px;
}

.icons a {
  margin: 0px 8px;
}


.icons a img {
  opacity: 0.48;
  transition: 0.5s;
}

.icons a:hover img {
  opacity: 0.9;
  transform: scale(1.5);
  transition: 0.25s;
}

@media screen and (max-width: 1200px) {
  .center1 {
    margin: 22% 0%;
  
  }
} 


@media screen and (max-width: 990px) {
  .center1 {
    margin: 30% 0%;
  
  }
}

@media screen and (max-width: 1200px) {
  .center1 {
    margin: 22% 0%;
  
  }
} 

@media screen and (max-width: 768px) {
  .center1 {
    margin: 40% 0%;
  
  }
}

@media screen and (max-width: 600px) {
  .center1 {
    margin: 50% 0%;
  
  }
} 

/* change backgruond image here */
@media screen and (max-width: 600px) {
  .center1 {
    margin: 50% 0%;
  
  }

  /* html {
    background: url("../VerticalBG.png") no-repeat center center;
    min-height: 100%;
    background-size: cover;
  } */
  

} 

@media screen and (max-width: 480px) {
  .center1 {
    margin: 50% 0%;
  
  }

  .button{
    margin-top: 40px;
  }

  p {
    margin-top: 12px;
  }
}

@media screen and (max-width: 428px) {
  .center1 {
    margin: 50% 0%;
  
  }

  h1{
    /* font-size: 33.18px; */
    font-family: "Akzidenz-Grotesk Pro Super";
  }

  .button{
    margin-top: 40px;

  }

  .mainBtn{
    font-size: 19.20px;
  }

  p {
    margin-top: 12px;
  }
} 

@media screen and (max-width: 414px) {
  .center1 {
    margin: 50% 0%;
  
  }
}

@media screen and (max-width: 375px) {
  .center1 {
    margin: 50% 0%;
  }
} 